PORT=8787
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=gaterank
MYSQL_POOL_SIZE=10
ADMIN_API_KEY=replace_with_secure_value
ADMIN_UI_PASSWORD=replace_with_admin_login_password
ADMIN_JWT_SECRET=replace_with_random_secret
ADMIN_TOKEN_TTL_HOURS=8
RECOMPUTE_POLL_MS=300000
API_BASE=http://127.0.0.1:8787
SING_BOX_BIN=sing-box
SOURCE=cron-performance
PROXY_PORT=7890
PROXY_STARTUP_TIMEOUT=8
LATENCY_ATTEMPTS=3
TEST_URL_LATENCY=https://www.google.com/generate_204
TEST_URL_SPEED=https://speed.cloudflare.com/__down?bytes=5000000
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_API_BASE=https://api.telegram.org
TELEGRAM_NOTIFY_TIMEOUT_MS=5000
